/* Using Swedish palette from Flat UI colors - https://flatuicolors.com/palette/se */

.recipes {
  padding: 0 10px;
}

.recipes__header {
}

.recipes__body {
  grid-column: span -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.recipes__recipe {
  border: 1px solid #1e272e;
}
