/* Using Swedish palette from Flat UI colors - https://flatuicolors.com/palette/se */

.recipes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffc048;
  border-bottom: 1px solid #ffa801;
  color: #1e272e;
}

.recipes__body {
  grid-column: span -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.recipe__ingredientList {
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  max-width: fit-content;
}

.recipe__name {
  padding-left: 10px;
  color: #1e272e;
}

/* toothsaw */
.recipes__recipe {
  background-color: #ffa801;
  background-image: linear-gradient(135deg, #ffc048 50%, transparent 50%),
    linear-gradient(225deg, #ffc048 50%, transparent 50%),
    /* Bottom jagged */ linear-gradient(45deg, #ffc048 50%, transparent 50%),
    linear-gradient(-45deg, #ffc048 50%, transparent 50%);
  background-position:
    /* Top jagged */ top left, top left,
    /* Bottom jagged */ bottom left, bottom left;
  background-size: 10px 10px;
  background-repeat: repeat-x;
}
