.recipe-form {
  background-color: #ffc048;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #1e272e;
  border-bottom: 1px solid #ffa801;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form__input {
  margin: 10px;
  margin-left: 0;
}

.form__label {
  margin: 10px;
  margin-left: 0;
}
