/* Using Swedish palette from Flat UI colors - https://flatuicolors.com/palette/se */

.recipes {
  padding: 0 10px;
}

.recipes__header {
  grid-column: span 5;
}

.recipes__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.recipes__recipe {
  border: 1px solid #1e272e;
}
